.card {
	@apply relative w-[90%] lg:w-[69%] 2xl:w-[60%] h-[15vh] lg:h-[45.5rem] p-4 sm:p-5 lg:p-6 text-white/70 flex-col z-[1] rounded-2xl sm:rounded-3xl xl:rounded-[2rem] bg-white/10  overflow-hidden backdrop-blur-sm opacity-75 md:flex;
	box-shadow: 2.8px 2.8px 2.2px #00000005, 6.7px 6.7px 5.3px #00000007, 12.5px 12.5px 10px #00000009,
		22.3px 22.3px 17.9px #0000000b, 41.8px 41.8px 33.4px #0000000d, 100px 100px 80px #00000012;
	opacity: 0;
	transform: translateY(1rem);
	animation: cli-container 1s ease-in-out 1 forwards;
}

.card:before {
	inset: 0;
	content: "";
	--angle: 128deg;
	position: absolute;
	border-radius: inherit;
	padding: 1.5px;
	background: conic-gradient(from var(--angle), #fff2, #fff4 45%, #fff8 49%, #fff, #fff8 51%, #fff4 55%, #fff2);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	animation: 10s rotate ease-in-out infinite;
	-webkit-mask-composite: xor;
	/* mask-composite:exclude; */
	pointer-events: none;
}

@keyframes cli-container {
	to {
		opacity: 1;
		transform: translateY(0);
		box-shadow: inset 0 -10rem 10rem #00000080;
	}
}

@keyframes rotate {
	50% {
		--angle: 232deg;
	}

	to {
		--angle: 128deg;
	}
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
